#header{
    background-position: center;
    background-size: cover;
    height: 40vh;
    box-shadow: inset 0px -64px 20px #0000007d;

}
.h40{
    height: 40vh;
}
.item-hov:hover {
    background-color: blue;
    color: white;
}
.item-hov:hover img{
    filter: invert(1);
}
button{
    background-image: linear-gradient(to right,#3176fb,#45c3ff);
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 10px 69px;
    font-weight: bold;
    height: 75px;
    box-shadow: 1px 1px 7px 0px grey;
}

.r-ov::-webkit-scrollbar, .cont-notif::-webkit-scrollbar {
    width: 0.5em;
}
.r-ov::-webkit-scrollbar-track, .cont-notif::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px grey;
    background: #ffffff26;
}
.r-ov::-webkit-scrollbar-thumb, .cont-notif::-webkit-scrollbar-thumb {
    background-color: #9f9f9fbd;
      /* outline: 1px solid slategrey; */
      border-radius: 5px;

}



.imagen{
    /* height: 350px; */
    width: 98%;
    padding-top:100%;
    background-size: cover;
    background-position: center;
}
.bg-b{
    background-image: linear-gradient(to right,#0092ff, #81ccf1);
    color:white!important;
}
.tarjeta-feed{
    height: auto;
    box-shadow: 0px 5px 11px -1px #0000002b;
}
.contenedor{
    height: 92vh;
    overflow-y: auto;
}
.ft-per{
    width: 30px;
    border-radius: 50%;
    height: 30px;

}

.foto-perfil{
    margin-top: auto;
    position: relative;
    top: 25px;
    border-radius: 6px;
    box-shadow: 2px 2px 7px 1px #0000006e;
    background-size: cover;
    height: 30vh;
    width: 30vh;
    z-index: 99;
    background-position: center;

}
.foto-perfil p{
    visibility: hidden;
}
.foto-perfil:hover{
    filter: grayscale(1.0);
    display: flex;
    cursor: pointer;
}
.foto-perfil:hover p{
    visibility: visible;
    color:white;
    margin:auto;
    font-weight: bold;
    text-transform: uppercase;
}
#feed{
    background-image: url('/assets/3.jpg')!important;
    background-position: center center;
    background-size: cover;

}
.h13{
    height: 13vh;
}
@media screen and (max-width: 768px){
    .foto-perfil{
        margin: auto;
        height: 20vh;
        width: 20vh;
    }
    .cambiarportada{
        margin-top:8vh;
    }
    .tarjeta-feed{
        width: 100%;
    }
}