<app-nav-top></app-nav-top>
<section>
  <div class="container" style="height:100vh">
    <div class="row" style="height:100vh">
      <div class="col-12 my-5 text-center d-flex" style="height:100vh">
        <div class="mx-auto my-auto">

          <a>Todavía no hay negocios registrados en SocialPesca :'( <br>
            Si te gustaría que tu negocio esté aca, mandanos un mensaje. <a href="https://wa.me/541138459621">WhatsApp</a>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>


<app-navbar></app-navbar>