<app-nav-top></app-nav-top>
<section>
  <div class="container pt-3 cont">
    <div class="row" style="margin-bottom:5rem">
      <div class="col-md-6 pt-5 col-12">
        <div id="formulario">
          <p><b>Nuevo Grupo</b></p>
          <p><input type="text" placeholder="Nombre del grupo" name="sd"></p>
          <p>
            <textarea placeholder="Escribí una descripción para el grupo" name="sd"></textarea>
          </p>
          <p>Grupo privado <input type="checkbox" style="width: auto;position: relative;top: 2px;"></p>
          <p>Grupo público <input type="checkbox" style="width: auto;position: relative;top: 2px;"></p>

          <h4 class="mt-3 text-muted">Los grupos todavía no estan disponibles, dentro de poco tiempo ya estarán activos. ¡Saludos!</h4>
          <!-- <p><input type="text" placeholder="¿Como lo pescaste?" name="sd" [(ngModel)]="cliente.Capturas.forma"></p> -->
          <!-- <p><input type="text" placeholder="¿Donde fue pescado?" name="sd" [(ngModel)]="cliente.Capturas.donde"></p> -->
          <!-- <p class="text-danger" *ngIf="isProblema"> ¡No podes agregar una captura sin agregar la información!</p> -->
          <!-- <p><button (click)="agregarPublicacion()">Publicar captura</button></p> -->
        </div>
      </div>
    </div>
  </div>
</section>


<app-navbar></app-navbar>