<app-nav-top></app-nav-top>
<section>
  <div class="container">
    <div class="row">
      <!-- <div class="col-6 d-flex">
        <div class="tarjeta mx-auto  text-center">
            <img src="/assets/negocio.png" style="width:50px;height:50px">

          <h5>¡Vamos de compras!</h5>
        </div>
      </div> -->
      <div class="col-12 d-flex" style="background:#ececec">
        <div class="tarjeta mx-auto text-center" routerLink="/lugares">
          <img src="/assets/pesca.png" style="width:50px;height:50px">
          <h5>¡Vamos de pesca!</h5>
        </div>
        <div class="tarjeta mx-auto text-center" routerLink="/negocios">
          <img src="/assets/negocio.png" style="width:50px;height:50px">
          <h5>¡Vamos de compra!</h5>
        </div>
      </div>
      <div class="col-12 my-5 text-center">
        <a>Si tenes un negocio de pesca y te queres que aparezca acá <br>
          <a href="https://wa.me/541138459621">Contactanos</a></a>
      </div>
    </div>
  </div>

</section>


<app-navbar></app-navbar>