<app-nav-top></app-nav-top>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row contenedor" style="margin-bottom:4rem">
          <div class="col-md-4" *ngFor="let x of listadoTodos" >
            <div class="row tarjeta-feed mx-auto mt-3 mb-3">
              <div class="col-md-12 imagen cp" (click)="selected = x"  [style.background-image]="'url('+x.foto+')'">
              </div>
              <div class="col-md-12" style="border-bottom: 1px solid #80808021;padding: 10px 15px;">
                <div class="d-flex">
                  <i class="material-icons mr-1 cp" (click)="meGusta(x)" *ngIf="x.forma">{{x.quienLike | like}}</i>
                  <i class="material-icons mr-1 cp" (click)="meGustaP(x)" *ngIf="!x.forma">{{x.quienLike | like}}</i>
                  <a class="mr-3">{{x.likes}}</a>
                  <i class="material-icons mr-3 cp" (click)="selected = x">comment</i>
                  <i class="material-icons ml-auto cp" *ngIf="(thisNick !== x.Nick)" routerLink="/perfil/{{x.Nick}}">account_circle</i>
                </div>
              </div>
              <div class="col-md-12">
                <p class="my-0 mt-3"><img src="{{x.fperfil}}" class="ft-per" routerLink="/perfil/{{x.Nick}}">
                  <b class="ml-1 cp" style="position: relative;top: 2px;" routerLink="/perfil/{{x.Nick}}"> {{x.Nick}}</b></p>
                <p class="text-muted my-0">{{x.descripcion}}</p>
                <p class="text-muted my-0" *ngIf="x.pescado"><b>Pescado:</b> {{x.pescado}}</p>
                <p class="text-muted my-0" *ngIf="x.forma"><b>Estilo:</b> {{x.forma}}</p>
                <p class="text-muted my-0" *ngIf="x.donde"><b>Lugar:</b> {{x.donde}}</p>
                <p class="text-muted my-0" *ngIf="x.etiqueta"><b>Etiquetas:</b> <a class="ml-2" style="word-break:break-all" *ngFor="let x of x.etiqueta | etiquetas" routerLink="/perfil/{{x.Nick}}">{{x.Nick}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="popup d-flex" *ngIf="isNick">
  <div class="mx-auto my-auto cartel text-center">
    <h2>¡Ya casi terminamos!</h2>
    <p class="text-muted">Solo falta que escribas tu nick de pescador.</p>
    <input name="nick" [(ngModel)]="usuario.Nick" type="text"
      style="padding: 10px 20px;margin-bottom: 20px;border-radius: 5px;border: 1px solid gainsboro;"
      placeholder="Mi nombre de usuario">
    <p>
      <button class="add-sp" (click)="AgregarNick()">¡Empezar a usar SPesca!</button>
    </p>
  </div>
</div>
<app-view [variable]="selected" [usuario]="usuario" (var)="selected = undefined"></app-view>
<app-navbar></app-navbar>