section{
    background:white;
    position: fixed;
    z-index: 9999;
    overflow:auto;
    width: 100%;
    padding-bottom: 5vh;
    height: 100vh;
}
.top{
    border-bottom: 1px solid gainsboro;
    height: 8vh;
}
button{
    background-image: linear-gradient(to right,#3176fb,#45c3ff);
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 0px 10px;
    font-weight: bold;
    height: 40px;
    box-shadow: 1px 1px 7px 0px grey;
}